* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: url("imges/project-background.jpg") center center no-repeat fixed !important;
    background-size: cover !important;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
}

.main__h1 {
    color: #fff;
    opacity: 0.7;
    font-weight: 600;
    font-size: 3.8rem;
    font-family: 'Pacifico', cursive;
    padding: 2rem;
    transition: all 0.6s;
}

.python {
    animation: animation 1s 0s ease-out forwards;
}

.bash {
    animation: animation 1.6s 0s ease-out forwards;
}

.main-a {
    text-decoration: none;
}

.main__h1:hover,
.main__h1:active {
    color: #FF9D87;
    transform: scale(1.1);
    opacity: 1;
}

@keyframes animation {
    0% {
        transform: translateX(-2000px);
        opacity: 0.7;
    }
    80% {
        transform: translateX(0);
        opacity: 0.7;
    }
    100% {
        opacity: 0.7;
    }
}