<!DOCTYPE html>
<html>
    <head>
        <title>
            Blog
        </title>
        <link rel="stylesheet" href="../static/shard.css">
        <link rel="icon" href="../static/imges/icon.jpeg">
        <meta name="viewport" content="width=device-width, intial-scal=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="../static/all.css">
        <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main-background">
          <div id="backdrop"></div>
            <header class="main-header">
                <div class="main-div">
                    <a href="../index.html" id="Mustafa">Mustafa</a>
                </div><nav class="main-nav">
                            <li class="list"><a href="project.html" class="main-list-a">PROJECTS</a></li>
                            <li class="list"><a href="index.html" class="main-list-a main-list-a1">HOME</a></li>
                            <li class="list"><a href="index.html#main-Blog" class="main-list-a main-list-a1">BLOG</a></li>
                            <li class="list"><a href="about.html" class="main-list-a main-list-a1">ABOUT</a></li>
                            <li class="list"><a href="contact.html" class="main-list-a main-list-a1">CONTACT</a></li>
                          </nav>
        </header>
        <div class="phone__navbar">
          <a href="#" class="active"></a>
          <div id="phonenavbar">
            <div class="backdrop2"></div>
            <div class="main-flex__container">
              <li class="list list-phone list-phone1"><a href="project.html" class="main-list-a main-list-a__phone">PROJECTS</a></li>
              <li class="list list-phone list-phone2"><a href="index.html" class="main-list-a main-list-a__phone">HOME</a></li>
              <li class="list list-phone list-phone3"><a href="index.html#main-Blog" class="main-list-a main-list-a__phone" id="main-list-a__phone-blog">BLOG</a></li>
              <li class="list list-phone list-phone4"><a href="about.html" class="main-list-a main-list-a__phone">ABOUT</a></li>
              <li class="list list-phone list-phone4"><a href="contact.html" class="main-list-a main-list-a__phone">CONTACT</a></li>
            </div>
          </div>
          <a href="javascript:void(0);" class="icon" onclick="clickmypleas()">
            <span style="font-size: 2rem; color: darkgray; position: fixed; z-index: 1000; margin: 1rem;">
              <i class="fa fa-bars"></i>
            </span>
          </a>
        </div>
          </nav>
        </div>
        <div class="main-h1"><h1>    Content me    </h1></div>
        <div class="main_form">
            <form action="submit_form" method="POST">
                <h3>Name</h3>
                <input type="text" name="name" placeholder="Your name.." required>
                <h3>Email</h3>
                <input type="text" name="email" placeholder="Your email.." required>
                <h3>Subject</h3>
                <textarea id="subject" name="message" placeholder="Write something.." style="height:200px; resize:none;" required></textarea>
                <input type="submit">
            </form>
        </div>
        <script src="../static/main.js"></script>
        
    </body>
</html>