<!DOCTYPE html>
<html>
    <head>
        <title>Mustafa Alkilani</title>
        <link rel="icon" href="../static/imges/icon.jpeg">
        <link rel="stylesheet" href="../static/main.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, intial-scal=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">        
        <link rel="stylesheet" href="../static/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    </head>
    <body>
      
        <div class="main-background">
          <div id="backdrop"></div>
                <header class="main-header show-on-scroll" id="main__pack">
                    <div class="main-div">
                        <a href="#main__pack" id="Mustafa">Mustafa</a>
                    </div><nav class="main-nav">
                        <!-- <ul class="main-ul"> -->
                            <!-- <div class="main-div__border"> -->
                                <li class="list"><a href="project.html" class="main-list-a">PROJECTS</a></li>
                                <li class="list"><a href="index.html" class="main-list-a main-list-a1">HOME</a></li>
                                <li class="list"><a href="#main-Blog" class="main-list-a main-list-a1">BLOG</a></li>
                                <li class="list"><a href="about.html" class="main-list-a main-list-a1">ABOUT</a></li>
                                <li class="list"><a href="contact.html" class="main-list-a main-list-a1">CONTACT</a></li>
                            <!-- </div> -->
                        <!-- </ul> -->
                    </nav>
            </header>
            <div class="phone__navbar">
              <a href="#" class="active"></a>
              <div id="phonenavbar">
                <div class="backdrop2"></div>
                <div class="main-flex__container">
                  <li class="list list-phone list-phone1"><a href="project.html" class="main-list-a main-list-a__phone">PROJECTS</a></li>
                  <li class="list list-phone list-phone2"><a href="index.html" class="main-list-a main-list-a__phone">HOME</a></li>
                  <li class="list list-phone list-phone3"><a href="#main-Blog" class="main-list-a main-list-a__phone" id="main-list-a__phone-blog">BLOG</a></li>
                  <li class="list list-phone list-phone4"><a href="about.html" class="main-list-a main-list-a__phone">ABOUT</a></li>
                  <li class="list list-phone list-phone4"><a href="contact.html" class="main-list-a main-list-a__phone">CONTACT</a></li>
                </div>
              </div>
              <a href="javascript:void(0);" class="icon" onclick="clickmypleas()">
                <span style="font-size: 2rem; color: darkgray; position: fixed; z-index: 100000; margin: 1rem 1rem;">
                  <i class="fa fa-bars"></i>
                </span>
              </a>
            </div>
            <div class="background__phone" id="background__phone"></div>
                <div class="main-div__img">
                    <img src="../static/imges/mustafa_facebook1.jpg" class="main-div__img1"  id="main__img__a">
                </div>
                <!-- <h1 class="main-about">About Mustafa</h1> -->
                <h1 class="main-about">
                  <a href="" class="typewrite" data-period="2000" data-type='["about mustafa" ]'>
                      <span class="wrap"></span>
                    </a>
              </h1>
                <p class="main-P">What Are You Waiting For?</p>
                <div class="main-con__button">
                    <button class="main-button"><a href="#aboutme" class="main-button__a">LEARN MORE</a></button>
                </div>
            </nav>
        </div>
        <h1 id="aboutme" class="main__--about show-on-scroll">About me</h1>
      <!-- <script src="../static/main.js"></script> -->
        <p class="main_p-about show-on-scroll" id="scroll">Hello, My name is Mustafa, im 15, my birthday is in 30/09, i'm from jordan.<br>
            I learn to code Python, JavaScript, CSS, HTML at age 15, i learn Mysql and PHP in the age of<br> 
            14
            and I'im an ethical hacker I got compTIA A+, compTIA Linux+, compTIA N+, compTIA Security+, CCNA
            <br> CCNA security and CEH 
            <br>
            I like to watch anime, hacking and to code, basically, i'm addicted to code.
            <br>
            <br>
            Q. What language do you hate?<br>
            A. I hate Java because its hard.<br>
            <br>
            Q. What Language do you love?<br>
            A. i love Python, JavaScript, well, beacause they're easy to understand.<br>
            <br>
            Q. How did you learn to code?<br>
            A. I learnt to code with the method : Code, Research, Understand.<br>
            <br>
            Q. What Language do you know? Like, Real Life Languages<br>
            A. I Know a Arabic and English

        </p>
        <div id="main-Blog" class="main__blog1 show-on-scroll">
          <h1 class="Blog__post show-on-scroll">Blog Post</h1>
          <div class="Blog1 show-on-scroll">
            <a href="blog.html" id="Blog_a">
              <h4 class="main-h4__blog">Blog 1</h4>
              <img src="../static/imges/Blog1.jpg" class="Blog__img">
            </div>
            <div id="res">
              <div class="blog1_div__img">
                <p class="blog1_img_P">Where did it all started and why</p>
              </div>
            </div>
          </a>
        </div>
        <div class="main__footer_main  show-on-scroll">
          <footer class="main-footer show-on-scroll">
            <h1 class="main-footer__h1">THIS IS STILL IN DEVELOPMENT, SO EXPEXT SOME BUGS</h1>
            <h4 class="main-footer__h4">Contact</h4>
            <div class="main-footer__div">
              <a href="https://web.facebook.com/profile.php?id=100009634483989" class="main-footer__a">
                <!-- <h6 class="main-footer__h6">facebook</h6> -->
                <span style="font-size: 4rem; color: darkgray;">
                  <i class="fab fa-facebook-f main-font__awesome"></i>
                </span>
              </a>
              <a href="https://github.com/mustafa-alkilany">
                <span style="font-size: 4rem; color: darkgray;">
                  <i class="fab fa-github main-font__awesome"></i>
                </span>
              </a>
            <!-- </div> -->
            <!-- <div class="main-footer__div"> -->
              <a href="https://www.instagram.com/mustafaalkilani4/" class="main-footer__a">
                <!-- <h6 class="main-footer__h6 main-instagram">instagram</h6> -->
                <span style="font-size: 4rem; color: darkgray;">
                  <i class="fab fa-instagram main-font__awesome"></i>
                </span>
              </a>
            <!-- </div> -->
            <!-- <div class="github_con"> -->
            </div>
            <p class="main-footer__p">MUSTAFA © 2021</p>
          </footer>
        </div>
        <script src="../static/main.js"></script>
    </body>
</html>